<!-- Page Header -->
<header class="intro-header" style="background-image: url('assets/home-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <%= image_tag("kirbylogo.png", alt: "KBOY")  %>
                    <hr class="small">
                    <h2 class="subheading">Aim high!,be humble but never be fooled.</h2>
                    <span class="meta">Posted by <a href="#">Kirby</a> on January 7,2016</span>
                </div>
            </div>
        </div>
    </div>
</header>
