  <%= render 'layouts/navigation' %>

    <%= render 'layouts/header/postheader' %>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <h2 class="post-title">
                      Family over everything.
                  </h2>
                  <h3 class="post-subtitle">
                      Of all the things we see from iphones,ipads, to the latest technology out there family still first.
                  </h3>
                </div>
            </div>
        </div>
    </article>

    <hr>

      <!-- FOOTER -->
        <%= render 'layouts/footer' %>

<%= render 'layouts/scripts' %>
