  <%= render 'layouts/navigation' %>

    <%= render 'layouts/header/postheader' %>

    <!-- Post Content -->
    <!-- January 7,2016 -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <h2 class="post-title">
                      Family over everything.
                  </h2>
                  <h3 class="post-subtitle">
                      Of all the things we see from iphones,ipads, to the latest technology out there family still comes first.
                      You cannnot replace all of them with technology and money.
                  </h3>
                </div>
            </div>
        </div>
    </article>
    <!-- January 8,2016 -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                  <h2 class="post-title">
                      This day is really slow just eat and code and eat and code and watch podcast /sob. /smile.
                  </h2>
                  <h3 class="post-subtitle">
                    Learning goal for this day is to to really learn deeply on applying test and integrate javascript on a rails application.But I still have a long way
                    to go for my journey from being novice to advance then eventually to be something really good at.It takes time my friend, nothing really is achievable
                    in a short period of time: unless your a prodigy with extraordinary talent from the day you were born.
                  </h3>
                </div>
            </div>
        </div>
    </article>

    <hr>

      <!-- FOOTER -->
        <%= render 'layouts/footer' %>

<%= render 'layouts/scripts' %>
